.app {
  text-align: center;
}

.app-logo {
  height: 80px;
}

.app-header {
  background-color: #dbf;
  height: 120px;
  padding: 20px;
  color: #24f;
}

.app-title {
  font-size: 1.5em;
}

.app-main {
  padding: 20px;
}

