.game {
  display: flex;
  flex-direction: horizontal;
  width: 800px;
  margin: auto;
  font-size: 18px;
}

.game-info {
  width: 150px;
}

.game-settings {
  width: 150px;
}

.button {
  width: 100px;
  margin: 5px auto;
  border: 3px solid #000;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  border: 3px solid #fce;
}

.button:active {
  border: 3px solid #f9d;
}

.board {
  width: 500px;
  margin: auto;
}

.board-row {
  display: flex;
  flex-direction: horizontal;
}

.board-tile {
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0,0,0,0);
  padding: auto;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}

.tile-current {
  background: #f9d;
  background-image: url(./knight-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.tile-marked {
  background: #f9d;
}

.tile-possible {
  cursor: pointer;
}

.tile-possible:hover {
  background: #fce;
}

.tile-possible-marked {
  background: #f9d;
  cursor: pointer;
}

.tile-possible-marked:hover {
  background: #fce;
}
