.game {
  display: flex;
  flex-direction: horizontal;
  width: 800px;
  margin: auto;
  font-size: 18px;
}

.game-info {
  width: 150px;
}

.game-settings {
  width: 150px;
}

.button {
  width: 100px;
  margin: 5px auto;
  border: 3px solid #9de;
  text-align: center;
}

.button:active {
  border: 3px solid #fde;
}

.board {
  width: 500px;
  margin: auto;
  border: 2px solid #9de;
}

.board-row {
  display: flex;
  flex-direction: horizontal;
}

.board-tile {
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0,0,0,0);
  padding: auto;
}

.tile-unmarked {
  background: #eee;
}

.tile-marked {
  background: #f9d;
}

.tile-current {
  background: #c8f;
  background-image: url(./knight-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.tile-possible {
  background: #eee;
  border: 2px solid #9de;
}

.tile-possible-marked {
  background: #f9d;
  border: 2px solid #9de;
}
